Django==1.5c2
BeautifulSoup==3.2.1
Markdown==2.2.1
PyYAML==3.10
Pygments==1.6
South==0.7.6
Werkzeug==0.8.3
configparser==3.3.0r2
django-appconf==0.6
django-braces==0.2.2
django-compressor==1.2
django-debug-toolbar==0.9.4
django-devserver==0.4.0
django-extensions==1.0.3
django-filter==0.5.4
django-profiletools==0.2.1
djangorestframework==2.2.0
djset==0.2.2
docopt==0.6.1
docutils==0.10
fuzzywuzzy==0.1
ipython==0.13.1
keyring==1.2.2
lettuce==0.2.12
line-profiler==1.0b3
lxml==3.1.0
pyzmq==2.2.0.1
selenium==2.29.0
six==1.2.0
splinter==0.4.9
sqlparse==0.1.6
sure==1.1.4
tornado==2.4.1
wsgiref==0.1.2

